@import url("reset.css");
@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot');
	src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype');
	src:url('/fonts/icomoon.woff') format('woff');
	src:url('/fonts/icomoon.ttf') format('truetype');
	src:url('/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html {
	height:100%;
}

body {
	height:100%;
	min-height:100%;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #eaeaea;
	background: #ffffff;
}

header {
	padding: 0 2em;
	min-height: 60px;
	position: fixed;
	z-index: 10;
   	top: 0px;
   	width: 100%;
	background: #2c3e50;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
}

#container {
  position: relative;
  min-height: 580px;
  background: gray;
  margin:60px 40px 0px 40px;
  background: #C9C9C9;
  z-index: 1;
  padding: 0 0 0 0;
}

footer {
	padding: 0 2em;
	min-height: 60px;
	position: relative;
	z-index: 10;
   	bottom: 0px;
   	width: 100%;
	background: #2c3e50;
}

/*
UI
*/
img,fieldset{
  border:0
}

.img-circle {
  border-radius: 50%;
}