@import url("reset.css");

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #eaeaea;
	background: white;
}

#container {
  position: relative;
  min-height: 580px;
  background: gray;
  margin:0px 40px;
}

#footer {
  border-top: 1px solid #000000;
  text-align: center;
}

/*
UI
*/
img,fieldset{
  border:0
}

.img-circle {
  border-radius: 50%;
}