/*
	Animation CSS
*/
/* 브라우저마다 처리하는 게 조금씩 다를 수 있으니 찾아서 다른 브라우저에서도 동작하는 방법을 찾아보세요.
   webkit 과 같은 브라우저 특정 prefix붙은 기능들은 대체로 다 마찬가지일거예요 
   */
@-webkit-keyframes fade-in{
	from{
	    opacity:0;
	}
	to{
	    opacity:1;
	}
}

/*
	Header CSS
*/

/* Test용
div, section, section {
	border:solid 1px red;
}
*/

/* CSS의 C는 Cascading이라고 하죠. 예를들어 아래 코드를 보면, 

.test {
	top : 10px;
}

.test {
	position : absolute;
}

.test {
	position : relative;
}

이렇게 3개를 선언할 수도 있어요. 중복된 건 덮어씌우게 되고요.
결과적으로 두 개의 속성이 반영되고요.
possition : relative;
top : 10px;

또 한가지는 여러개의 selector를 동시에 선언할 수도 있고요.
.body , #wrapDiv , ul , li { ...}

이런 두 가지 특징을 이용한다면,
아래 비슷한 속성을 묶어서 따로 선언할 수도 있지 않을까요? 

*/


.column {
	position: relative;
	margin-top: 10px;
	width: 50%;
	min-width: 60px;
	height: 50px;
	float: left;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.logo {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin: 0;
	z-index: 10;
	padding: 0px 0px 0px 0px;
	font-family: inherit;
	font-size: 30px;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
}

.search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 40px;
	margin: 0;
	z-index: 10;
	padding: 0px 0px 0px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
	overflow: hidden;
}

.search-input::-webkit-input-placeholder {
	color: #efb480;
}

.search-input:-moz-placeholder {
	color: #efb480;
}

.search-input::-moz-placeholder {
	color: #efb480;
}

.search-input:-ms-input-placeholder {
	color: #efb480;
}

.search-icon,.search-submit {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 8 */
	filter: alpha(opacity = 0); /* IE 5-7 */
	opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: 12;
}

.search-icon {
	background: #da6d0d;
	color: #fff;
	z-index: 11;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.search-icon:before {
	content: "\e000";
}

/*
	Container CSS
*/
.float-left {
	float: left;
}

.float-right {
	float: right;
}

/*
	User-Profile Section
*/
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

#user-profile {
	background: #37383c;
}

#profile-image-section {
	padding: 20px 10px 20px 30px;
	width: 20%;
}

#profile-detail-section {
	padding: 20px 30px 20px 20px;
	width: 80%;
	font-family: inherit;
	font-size: 1em;
	-webkit-animation:fade-in 3s;
	-webkit-animation-play-state: running;
}

#profile-button-section {
	padding: 10px 0px 0px 0px;
}

.button {
	outline: none;
	border: 0;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	font-size: 1em;
	color: #fff;
	background-color: transparent;
	padding: .5em 1em .5em 1em; /* em을 썻다가,, 어디는 px을 썻다가..*/
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.button-red {
	background-color: #f94249;
}

.button-red:hover {
	text-decoration: none;
	background-color: #f76b6f;
}

#profile-image {
	min-width: 50px;
	width: 100%;
}

.profile-status {
	text-align: center;
	background: #ff9600;
	height: 0px;
	font-size: 30px;
	line-height: 50px;
	-webkit-transition: background 1s, height 0.5s, -webkit-transform 1s;
	transition: background 1s, height 0.5s, transform 1s;
}

#profile-status .h1 {
	font-family: inherit;
}

.profile-status p {
	font-family: inherit;
	height: 20px;
	line-height: 20px;
	font-size: 0.5em;
}

.profile-status .button {
	font-family: inherit;
	font-size: 0.5em;
	border: 1px solid;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
}

#info-wrapper {
	background: #C9C9C9;
	padding: 20px;
}

/*
	Detail Info Section
*/
#detail-info {
	
}

.detail-info-item {
	/* font-size: 1.8em; */
	font-size: 2.0vw;
	width: 33%;
	color: black;
	min-height: 150px;
	padding: 5px;
	font-family: inherit;
}

/*
	Detail Info Section - Visited-info
*/
#visited-info {
	position: relative;
	height: 100%;
}

#visited-info p{
	font-family: inherit;
 	font-size: 1em; 
 	height: 30px;
 	line-height: 30px;
 	text-align: center;
	color: #000;
}

#visited-info figure {
	background: #fff;
	background-size:50%;
	background-position:center;
}

#q-graph {
	position: relative;
	height: 300px;
	margin: 0px 20% 0px 20%;
	list-style: none;
	background: #fff;
	font-size: 0.8em;
	font-family: inherit;
	-webkit-animation:fade-in 3s;
	-webkit-animation-play-state:paused;
}

#q-graph ul {
	margin: 0;
	padding: 0;
	list-style: none; /* 이거 reset.css 에 혹시 없나요? */
}

#q-graph li {
	position: absolute;
	bottom: 0;
	width: 30%;
	z-index: 2;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

#q-graph li.qtr {
	height: 0px;
	padding-top: 2px;
	/* border-right: 1px dotted #C4C4C4; */
	color: #AAA;
} 

#q-graph li.bar {
	width: 40%;
	border: 1px solid;
	border-bottom: none;
	color: #000;
	-webkit-transition: height 1s, -webkit-transform 1s;
	transition: height 1s, transform 1s;
}

#q-graph li.bar p {
	margin: -25px 0 0;
	padding: 0;
}

#q-graph li.today {
	left: 30%;
	background: #37383c;
	border-color: #37383c;
}

#q-graph li.past {
	left: 30%;
	background: #37383c;
	border-color: #37383c;
}

/* 5개가 6개가 되면 어떻게 수정되야 하죠? 
그리고 아래 숫자는 어떻게 나온 것인지 ..이해하기 어려울 듯 */
#q-graph #q1 {
	left: 0;
	bottom : 10%;
}

#q-graph #q2 {
	left: 18%;
	bottom : 10%;
}
#q-graph #q3 {
	left: 36%;
	bottom : 10%;
}
#q-graph #q4 {
	left: 54%;
	bottom : 10%;
}
#q-graph #q5 {
	left: 72%;
	bottom : 10%;
}

/*
	Detail Info Section - Location-info
*/
#location-info {
	height: 100%;
}

#location-info figure {
	background: #fff url("/images/location.png") no-repeat;
	background-size:50%;
	background-position:center;
}

#map-canvas {
	position: relative;
	height: 200px;
	padding: 0;
	list-style: none;
	-webkit-animation:fade-in 3s;
	-webkit-animation-play-state:paused;
}

/*
	Detail Info Section - watch-info
*/
#watch-info {
	height: 100%;
}

#watch-info figure {
	background: #fff url("/images/eye.png") no-repeat;
	background-size:50%;
	background-position:center;
}


#watch-tool {
	position: relative;
	height: 200px;
	line-height: 200px;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align:center;
	font-size: 3em;
	font-family: inherit;
	
}

#watch-tool p{
	-webkit-animation:fade-in 3s;
	-webkit-animation-play-state:paused;
}

/*
	Detail Info Section - caution-info
*/
#caution-info {
	height: 100%;
}

#caution-info figure {
	background: #fff url("/images/caution.png") no-repeat;
	background-size:50%;
	background-position:center;
}

/* padding : 0 이 자주 나오는데 그냥 모든 div의 padding에 무언가 자동으로 생겨서 그런건가요? 차라리 reset에 이런코드를 추가하는 건 어떰?*/
#caution-tool {
	position: relative;
	height: 200px;
	line-height: 200px;
	padding: 0;
	list-style: none;
	text-align:center;
	font-size: 3em;
	font-family: inherit;
}

#caution-tool p{
	-webkit-animation:fade-in 3s;
	-webkit-animation-play-state:paused;
}

/*
	Footer CSS
*/

.footer-logo {
	width: 100%;
	text-align: center;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	font-family: inherit;
	font-size: 20px;
	color: #ffffff;
}