/*
	Header CSS
*/
#header {
	padding: 0 2em;
	min-height: 300px;
	position: relative;

}
/* Test용
div, section, article {
	border:solid 1px red;
}
*/

.column {
	position: relative;
	margin-top: 10px;
	width: 50%;
	min-width: 60px;
	height: 60px;
	float: left;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.logo {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	width: 100%;
	height: 60px;
	line-height:60px;
	margin: 0;
	z-index: 10;
	padding: 0px 0px 0px 0px;
	font-family: inherit;
	font-size: 40px;
	color: #ffffff;
	overflow: hidden;
}
.search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 60px;
	margin: 0;
	z-index: 10;
	padding: 0px 0px 0px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
	overflow: hidden;
}

.search-input::-webkit-input-placeholder {
	color: #efb480;
}

.search-input:-moz-placeholder {
	color: #efb480;
}

.search-input::-moz-placeholder {
	color: #efb480;
}

.search-input:-ms-input-placeholder {
	color: #efb480;
}

.search-icon,
.search-submit  {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}

.search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: 12;
}
			
.search-icon {
	background: #da6d0d;
	color: #fff;
	z-index: 11;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.search-icon:before {
	content: "\e000";
}

/*
	Container CSS
*/
.float-left {
	float:left;
}

.float-right{
	float:right;
}

/*
	User-Profile Section
*/
.clearfix:after {
	content:".";
	visibility:hidden;
	display:block;
	height:0;
	clear:both;
}

#user-profile{
	background:gray;
}

#profile-image-article{
	padding:10px 30px;
	width:20%;
}

#profile-detail-article{
	padding:10px 40px;
	width:50%;
}

#profile-image{
	width:180px;
}

#profile-status{
	text-align:center;
	background:black;
	height:50px;
	font-size:30px;
	line-height:50px; 
}

#profile-status .h1{
	
	
}
/*
	Attention Info Section
*/



/*
	Detail Info Section
*/
#detail-info{  
	
}
.detail-info-item {
	width:50%;
	color:red;
}


