/*
	Header CSS
*/

/* Test용
div, section, section {
	border:solid 1px red;
}
*/
.column {
	position: relative;
	margin-top: 10px;
	width: 50%;
	min-width: 60px;
	height: 50px;
	float: left;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.logo {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin: 0;
	z-index: 10;
	padding: 0px 0px 0px 0px;
	font-family: inherit;
	font-size: 40px;
	color: #ffffff;
	overflow: hidden;
	cursor: pointer;
}

.search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 40px;
	margin: 0;
	z-index: 10;
	padding: 0px 0px 0px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
	overflow: hidden;
}

.search-input::-webkit-input-placeholder {
	color: #efb480;
}

.search-input:-moz-placeholder {
	color: #efb480;
}

.search-input::-moz-placeholder {
	color: #efb480;
}

.search-input:-ms-input-placeholder {
	color: #efb480;
}

.search-icon,.search-submit {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 8 */
	filter: alpha(opacity = 0); /* IE 5-7 */
	opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: 12;
}

.search-icon {
	background: #da6d0d;
	color: #fff;
	z-index: 11;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.search-icon:before {
	content: "\e000";
}

/*
	Container CSS
*/
.float-left {
	float: left;
}

.float-right {
	float: right;
}

/*
	User-Profile Section
*/
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

#user-profile {
	background: #A8A8A8;
}

#profile-image-section {
	padding: 10px 20px;
	width: 20%;
}

#profile-detail-section {
	padding: 10px 20px;
	width: 70%;
}

#profile-image {
	min-width: 50px;
	width: 100%;
}

.profile-status {
	text-align: center;
	background: #da6d0d;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	-webkit-transition: background 1s, -webkit-transform 1s;
	transition: background 1s, transform 1s;
}

.profile-status-safety {
	text-align: center;
	background: #28BF00;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
}

#profile-status .h1 {
	
}

#info-wrapper {
	background: #C9C9C9;
	padding: 20px;
}

/*
	Attention Info Section
*/
#attention-info {
	min-height: 90px;
	background: #fff;
	color: #000000;
}

/*
	Detail Info Section
*/
#detail-info {
	
}

#visited-info {
	position: relative;
	height: 100%;
}

.detail-info-item {
	font-size: 12px;
	width: 50%;
	color: black;
	min-height: 150px;
	padding: 5px;
	font-family: inherit;
}

#q-graph {
	position: relative;
	height: 300px;
	padding: 0;
	background: #fff;
	list-style: none;
	font-size: 1.8em;
	font-family: inherit;
}

#q-graph ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#q-graph li {
	position: absolute;
	bottom: 0;
	width: 30%;
	z-index: 2;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

#q-graph li.qtr {
	height: 0px;
	padding-top: 2px;
	/* border-right: 1px dotted #C4C4C4; */
	color: #AAA;
} 

#q-graph li.bar {
	width: 40%;
	border: 1px solid;
	border-bottom: none;
	color: #000;
	-webkit-transition: height 1s, -webkit-transform 1s;
	transition: height 1s, transform 1s;
}

#q-graph li.bar p {
	margin: -25px 0 0;
	padding: 0;
}

#q-graph li.sent {
	left: 30%;
	background: #da6d0d;
	border-color: #da6d0d;
}

#q-graph li.paid {
	left: 30%;
	background: #A8A8A8;
	border-color: #A8A8A8;
}

#q-graph #q1 {
	left: 0;
	bottom : 10%;
}

#q-graph #q2 {
	left: 18%;
	bottom : 10%;
}
#q-graph #q3 {
	left: 36%;
	bottom : 10%;
}
#q-graph #q4 {
	left: 54%;
	bottom : 10%;
}
#q-graph #q5 {
	left: 72%;
	bottom : 10%;
}

#map-canvas {
	position: relative;
	height: 300px;
	padding: 0;
	background: #fff;
	list-style: none;
}
